html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(33, 30, 30);
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(65, 187, 243);
  color: white;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
  padding: 10px;
}

.nav-links li:hover {
  background-color: #272727;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 12px 12px;
}

/* .nav-links a:hover {
  color: rgb(65, 187, 243);
  border-bottom: 2px solid rgba(219, 219, 231, 0.354);
  border-top: 2px solid rgba(219, 219, 231, 0.354);
} */

.navCV {
  background-color: rgba(25, 25, 112, 0.781);
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.navCV i {
  margin-right: 10px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

h2 {
  text-align: center;
}

#intro-image {
  display: grid;
  grid-template-columns: auto;
}

.intro {
  text-align: center;
  padding: 0%;
}

.name,
.dev {
  display: block;
  color: rgb(65, 187, 243);
  font-size: 30px;
}

img {
  width: 300px;
  height: 300px;
}

.image {
  text-align: center;
}

.about-me {
  display: grid;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#skillsInterests {
  padding-bottom: 15px;
}

.skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}

.frontend,
.backend,
.interests {
  border: 5px solid rgb(65, 187, 243);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 60px;
  margin: 15px;
}

.feList,
.beList,
.intList {
  list-style: none;
  padding: 0;
}

.javascript,
.html,
.css,
.java,
.python {
  display: flex;
}

#projects {
  text-align: center;
}

.projects {
  color: yellow;
  height: 150px;
}

.contactDetails {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#phoneNumber {
  cursor: pointer;
}

.linkedIn,
.email,
.tel {
  display: none;
}

.fa-phone:hover {
  color: rgb(65, 187, 243);
}

a.icon-email:hover,
a.icon-linkedIn:hover {
  color: rgb(65, 187, 243);
}

footer {
  text-align: center;
  font-size: medium;
}

/* slider */

/* Full-width scroller */
.scroller {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scroller-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: auto;;
  gap: 10px
}

.project-image {
  flex-shrink: 0;
  width: 20%; /* Show 5 images at a time */
  height: auto;
  object-fit: cover;
  /* margin: 0 10px; */
}

/* Navigation buttons */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding: 1rem;
    background-color: rgb(65, 187, 243);
    color: white;
  }

  .navCV {
    height: 25px;
    border-radius: 10px;
    margin-top: 9.5px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
  }

  a:link {
    color: #ffffff;
    text-decoration: none;
  }

  a:visited {
    color: #ffffff;
  }

  .nav-links li:hover {
    background-color: #333;
  }

  /* .nav-links a:hover {
    border-bottom: 2px solid rgba(25, 25, 112, 0.354);
    border-top: 2px solid rgba(25, 25, 112, 0.354);
  } */

  img {
    width: 400px;
    height: 350px;
  }

  .fa-phone:hover {
    color: rgb(65, 187, 243);
  }

  .skills {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 2 / 3;
    justify-content: space-evenly;
  }

  .contactDetails {
    display: block;
    text-align: center;
  }

  .linkedIn,
  .email,
  .tel {
    display: inline-flex;
    padding: 15px;
  }
}

@media (min-width: 1023px) {
  #intro-image {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
}
