body {
  background-color: rgb(33, 30, 30);
  font-size: 22px;
  margin-bottom: 0;
  color: #ffffff;
}

nav {
  background-color: rgb(65, 187, 243);
  display: flex;
  justify-content: right;
  width: 100%;
  height: 57px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}

.cv {
  height: 30px;
  width: 100px;
  /* color: #ffffff; */
  /* background-color: rgb(60, 57, 255); */
  border: 1.5px solid navy;
  /* padding: 5px 8px 5px 8px; */
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li,
.cv {
  margin: 0px 20px 2px 20px;
  color: #000000;
  font-size: 18px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
a.navAbout:hover,
a.navSkills:hover,
a.navContact:hover {
  border-bottom: 2px solid black;
  color: #ffffff;
  padding: 3px;
  margin: auto;
}
a:active {
  color: #000000;
}

h2 {
  text-align: center;
}
.intro-image {
  padding-top: 57px;
  display: grid;
  grid-template-columns: auto;
}

.intro {
  text-align: center;
  padding: 0%;
}

.name,
.dev {
  display: block;
  color: rgb(65, 187, 243);
  font-size: 30px;
}

img {
  width: 300px;
  height: 300px;
}

.image {
  text-align: center;
}

.about-me {
  display: grid;
  /* grid-column: 2 / 3; */
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#skillsInterests {
  padding-bottom: 15px;
}
.skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}

.frontend,
.backend,
.interests {
  border: 2px solid rgb(65, 187, 243);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 60px;
  margin: 15px;
}

.feList,
.beList,
.intList {
  list-style: none;
  padding: 0;
}

.javascript,
.html,
.css,
.java,
.python {
  display: flex;
}

.contactDetails {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#phoneNumber {
  cursor: pointer;
}

.linkedIn,
.email,
.tel {
  display: none;
}

a.icon-email:hover,
a.icon-linkedIn:hover {
  color: rgb(65, 187, 243);
}

footer {
  text-align: center;
  font-size: medium;
}

@media (min-width: 1023px) {
  .intro-image {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column: 2 / 3;
    justify-content: space-evenly;
  }

  .contactDetails {
    display: block;
    text-align: center;
  }

  .linkedIn,
  .email,
  .tel {
    display: inline-flex;
    padding: 15px;
  }
}
